body{
	background: black;
	font-family: monospace;
}
/*
header{
	width: 99%;
	height: 60px;
	border: 1px solid white;
}
header>div{
	font-weight: bolder;
	font-size: 20px;
	color: green;
	margin-top: 22px;
	text-align: center;
}
header>div>span{
	margin: 10px;
	font-family: sans-serif;
}
nav{
	width: 99%;
	height: 50px;
	border: 1px solid white;
}
section{
	width: 50%;
	padding-left: 80px;
	height: 500px;
	float: left;
	/*background-color: white;*/
}
aside{
	width: 38%;
	/*height: 500px;*/
	/*background-color: white;*/
	border: 1px solid white;
	border-radius: 5px;
	float: left;
}*/
#headerOptions{
	background-color: black;
	padding-top: 10px;
	padding-bottom: 10px;
}
#headerOptions>span{
	color: green;
	font-size: 25px;
	cursor: pointer;
}
#registrationDescription{
	width: 150px;
	height: 470px;
	display: block;
	background-color: green;
	color: white;
	text-align: center;
	float: left;
	margin-top: 20px;
}
#registrationDescription>p{
	padding-bottom: 92px;
	font-size: 15px;
	padding-right: 5px;
}
#registrationDescription>img{
	height:	32%;
}
.Popup{
	float: left;
	background: white;
    padding-bottom: 20px;
    width: 395px;
}
.Popup>span, input{
	margin-left: 25px;
	color: black;
	font-size: 20px;
}
.Popup>h2{
	padding-top: 5px;
	padding-bottom: 5px;
	color: black;
	background: green;
}
.Popup2{
	padding-top: 20px;
	display: none;
	margin-top: -20px;
}
.upArrow{
	width: 0; 
	height:0;
	border-right: 30px solid transparent;
	border-bottom: 30px solid white;
	border-left: 30px solid transparent;

}
.upArrowClass2{
	width: 0; 
	height:0;
	border-right: 30px solid transparent;
	border-bottom: 30px solid green;
	border-left: 30px solid transparent;
	margin-left: 95px;
}
h1{
	text-align: center;
	color: green;
	font-size: 50px;
}
form{
	margin: 20px auto;
	/*width: 320px;*/
	color: green;
}
input{
	padding: 10px;
	font-size: inherit;
}
input[type="text"]{
	display: block;
	/*border: 2px solid green;*/
	width: 80%;
	margin-bottom: 20px;
}
input[type="password"]{
	display: block;
	/*border: 2px solid green;*/
	width: 80%;
	margin-bottom: 20px;
}
input[type="email"]{
	display: block;
	/*border: 2px solid green;*/
	width: 80%;
	margin-bottom: 20px;
}
input[type="button"]{
	width: 344px;  /*2 px + 2px of border; 320px form width + 10px *2 for padding*/
	height: 45px;
	border-radius: 10px;
	background-color: green;
	color: white;
	cursor: pointer; 
}
